// Place all the styles related to the SalesItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
  border: 1px solid black;
  border-bottom-left-radius: 0;
  border-collapse: collapse;
  box-shadow: 10px 10px 5px #888888;
  margin: 0;
  padding: 0;
  width: 50%;
}

td, th{
  border: 1px solid black;
}